<p id="notice"><%= notice %></p>

<p>
  <strong>Transfer date:</strong>
  <%= @heirship.transfer_date %>
</p>

<%= link_to 'Edit', edit_heirship_path(@heirship) %> |
<%= link_to 'Back', heirships_path %>
